@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

:root {
  --green: #10ff8d;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #121212;
}

.App {
  text-align: center;
  margin: 4em auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: auto auto;
  background-color: #242424 !important;
}

.buffer {
  padding: 1em;
}

.formBg {
  background-color: #fff0 !important;
  color: white !important;
  width: 25em !important;
}

.terms {
  margin: 0 -9px;
  color: var(--green);
  font-weight: 600;
}

.tabsBox {
  margin-left: 7em;
  border-radius: 2em;
  padding: 0.2em;
  width: 54%;
  background: black;
}

/* default settings */
.MuiPaper-rounded {
  border-radius: 2em !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: black !important;
  background: var(--green) !important;
  border-radius: 5em;
  font-weight: 700;
}

.MuiTab-textColorPrimary {
  color: white !important;
  background: black !important;
}

.MuiInputBase-input {
  color: white !important;
  border: 2px solid var(--green) !important;
  border-radius: 2em;
  margin: 0;
  padding: 1em 1em !important;
  background: transparent;
}

.MuiFormHelperText-root {
  color: rgb(255 102 102) !important;
  margin: 1em !important;
}

.MuiFormLabel-root {
  color: #ffffff !important;
  margin: 1em !important;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

label + .MuiInput-formControl {
  margin-top: 14px !important;
}

.MuiInput-underline:before {
  border-bottom: none !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: var(--green) !important;
}

.MuiButton-containedPrimary {
  color: #000 !important;
  background-color: var(--green) !important;
  width: 15em !important;
  border-radius: 5em !important;
  padding: 1em !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}